name: C/C++ CI windows

on: [push]

jobs:
  build:
    strategy:
      matrix:
        buildtype: [Debug, Release]

    runs-on: windows-latest
    
    
    steps:
    - uses: actions/checkout@v5
    - run: git fetch --prune --unshallow --tags

    - uses: lukka/get-cmake@latest      

    - name: build
      shell: cmd
      run: |
          set
          cmake -DCMAKE_BUILD_TYPE=${{ matrix.buildtype }} .
          cmake --build .

    - name: cpack
      shell: bash
      run: | 
          rm -f *.tar.gz
          cpack
          echo "artifactPath=$(ls *.tar.gz)" >> $GITHUB_ENV

    - uses: actions/upload-artifact@v4
      with:
        name: ${{ env.artifactPath }}
        path: ${{ env.artifactPath }}

    - name: Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: ${{ env.artifactPath }}  
